version: "3.8"

services:
  postgres:
    image: postgis/postgis:15-3.3
    container_name: trace-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: trace
      POSTGRES_PASSWORD: trace
      POSTGRES_DB: trace
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
